body::-webkit-scrollbar{display: none;}
body{
  display: flex;
  justify-content: center;
  background-color: bisque;
}
.ch_point
{
position: fixed; 
   width: fit-content;
   right: 0%;
   color: darkgray;
   margin: auto;
}
.ch_point i{ font-size: 60px; font-weight: bolder; margin-top: 45vh;cursor: pointer;}
.ch_point :hover{ background-color: rgba(41, 41, 41, 0.089);}
.card {/* 10:17 */
  height:100vh;
  aspect-ratio: 17/10;
  perspective: 1000px; 
  position: relative;
}
.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* 背面隱藏 */
  transition: transform 0.8s;
}
.front { 
    background-image: url("./image/main_img.png");
    background-size: 29.99% 89%;
    background-repeat: no-repeat;
  background-position-y: 65%;
}
.frontFlip{transform: rotateY(180deg);}
.top {
    border-radius: 10px 10px 0 0;
    background-image: url("./image/top.png");
    background-size: 180vh 7.5vh ;
    height: 8%; 

}
.QRcode{
    position: fixed;
    width: 29.99%;
    height: 89%;
    cursor: pointer;
}
.QRcode i{visibility: hidden; }
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
.QRcode:hover .tooltiptext{
    visibility: visible;
}
.mycontent { 
    height: 88%;
    width: 70%;
    background-image: url("./image/content.png");
    background-size: 95%;
    background-color: rgb(255, 255, 255);
    top: 8%;
    position: fixed;
    left: 30%;
}
.Position{
    background-image: url("./image/bottom.png");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 140vh 1.3vh;
    height: 10%;
    font-size:4.5vh;   
}
.Position p{margin: 2vh;}
.Position p span{
    cursor: pointer; 
    background-color: rgb(255, 223, 212); 
    border-style: dashed;
    border-color: #ff9900;
    padding: 0% 1%;
 }
.Name{
    height: 35%;
    text-align: center;
    font-size: 18vh;
    cursor: pointer;
}
.Expertise{
    height: 20%;
    font-size:2.7vh;
     margin-left: 2.5vh;
}
.Education{
    height: 20%;
    text-align: right;
    font-size:2.7vh;
}
.Education p{margin: auto; }
.E_history{ text-align: left; width: 50%;position: fixed; left: 65%;}
.Contact{
    background-image: url("./image/connect.png");
    height: 15%;
    font-size:3vh;
    text-align: center;
}
.Contact i{font-size: 3vh;}
.down { 
    background-image: url("./image/bottom.png");
    background-size: 100vh 50vh;
    border-radius: 0 0 5px 5px;
    height: 4%; 
    width: 100%;
    position: fixed;
    bottom: 0%;
    
}
#dialog{
    background-color: coral;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    width: 50%;
    min-width: 330px;
    aspect-ratio: 1/1;
    max-height: 80%;
    top: 10%;
}
#Introdution{
    height: 80%;
    aspect-ratio: 17/10;
    background-image: url("./image/main_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    color: chocolate;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid solid dotted dashed  ;
    margin-top: 5%;
}
#Introdution h3{color: #000000;font-weight: bolder;margin-left: 38%}
#Introdution div{overflow: auto;
     background-color: rgb(254, 255, 240); 
     width: 60%;height: 80%;
     margin-left: 10%;
     color: #000000;
     margin-left: 38%;
     font-size: larger;
     padding: 0% 2% 0% 2%;
     text-align:start;
    }
#Introdution div p span{font-weight: 700;}
#code{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
#code img{
    height: 70%;
    aspect-ratio: 1/1;
    border-style:dashed;
    border-color: bisque;
    border-width: 5px;
}
.back {
 background-image: url("./image/back.svg");
 background-position: 50%;
 background-size: 100% 100%;
 background-repeat: no-repeat;
  transform: rotateY(180deg);
  padding: 2.5% 5% 2.5% 5%;
}
.backFlip{transform: rotateY(360deg);}
.Myitem{
    width: 100%;
    height: 20%;
    padding: 3%;
}
.workname{
    background-color: #FFC000;
    width: 60%;
    height: fit-content;
    font-size: 4vh;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    text-align: end;
}
.nowWork{ margin: 1.5%; cursor: pointer; padding-right: 3%;}
.dropdown{
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 25vh;
    font-size: 2vh;
    background-color: beige;
    overflow-y:auto;
    display: none;
}
.dropdown p{
    width: 100%;
    height: auto;
    padding: 2% 8% 2% 2%;
    margin: auto;
    cursor: pointer;
}
.dropdown p:hover{
    background-color: rgb(238, 238, 154);
}
.MyWork{
    background-color: #F8CBAD;
    width: 100%;
    height:73%;
    border-radius:25px;
    display: flex;
    justify-content: center;
    padding: 2%;
}
.int_text{
    background-color: #ffffffb2;
    box-shadow:0 0 25px 10px rgb(255, 255, 255);
    width: 65%;
    border-radius:25px;
    transform:scale(.90);
    padding: 2%;
    overflow-y: auto;
    font-size: 3vh;
}
.int_text i{
    background-color: rgba(253, 255, 156, 0.863); 
    color: blue; 
    text-align: right;
    margin-left:80%; 
    margin-top: 10%;
    padding: 1%;
    cursor: pointer;
    border-style:dashed;
    border-color: #ff7300;
    border-radius: 20px;
}
.int_img{
     width: 35%;
     height: 40vh;
    margin-top: 5%;   
    background-color: #ff7300;
    border-radius:  10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
}
.nowShow{
    width: 95%;
    aspect-ratio: 2/1;
    display: none;
}
.allimage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
.allimage img{ 
    width: 30%; 
    aspect-ratio: 2/1; 
    border-radius: 2px;
    margin: 1%;
    cursor: pointer;
    position:relative;
    bottom: 0;
}
.allimage img:hover{filter: brightness(1.5);}
.whiteBorder{
    border-style: solid;
    border-color: aliceblue;
    border-width: 3px;
    filter: brightness(1.5);
}
#d01{
    position: fixed;
    width: 13%;
    bottom: -0.5%;
    left: -0.2%;
}
#d02{
    position: fixed;
    width: 15%;
    top: 0;
    z-index: 1;
}
@media (max-width:480px){
    body{
        background-color: rgb(247, 241, 234);
    }
    .ch_point i{ margin-right:-3vw;}
    .card{ 
        margin-top: 5%;
        width: 100%;
        height: auto;
        aspect-ratio: 9/16;
    }
    .front { 
    background-size: 100%;
    }
    .mycontent { 
    background-image: none;
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    left: 0%;
    }
    .QRcode{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 6vh;
    
    }
    .QRcode i{
        visibility: visible;
        font-size: xx-large;
        padding: 2vh; 
        color: rgb(66, 67, 68);
    }
    .Position{
    font-size:6vw; 
    text-align: left; 
    }
    .Position p{ margin-top: 5%; background-color: #fdb666a2; }
    .Name{
        writing-mode: vertical-rl;
        width: fit-content;
        height: 50%;
        font-size: 15vw;
        margin-left: 30vw;
        background-color: rgba(0, 0, 0, 0);
        font-weight:bolder;
    }
    .Expertise{
         height: 15%;
         font-size: 3vw;
         font-weight:500;
          margin-left: auto;
         background-color: aliceblue;
    }
    .Expertise p{padding: 5%; }
    .Education{
        height: 15%;
        font-size: 3vw;
        background-color: bisque;
    }
    .E_history{
        text-align: left; 
        width: 100%;position: fixed; 
        left: 0%;
        padding-left: 15%;
    }
    .Contact{
        height: 10%;
        font-size: 3vw;
    }
    .Contact i{font-size: 3vw;}
    #Introdution{
    width: 95%;
    height: auto;
    max-height: 500px;
    top: 5%;
    aspect-ratio: 10/17;
    background-size: 100%;
    }
    #Introdution h3{width: 95%;margin-left: 2.5%;background-color: rgb(226, 136, 75);color: #ffffff;padding-left: 5%;}
    #Introdution div{width: 95%; margin-left: 2.5%;padding: 3%; background-color: rgba(253, 253, 253, 0.795);color: #000000;font-size: medium;}
    .back{
        background-image: url("./image/back.png");
    }
    .Myitem{
        margin-top: 5%;
        height: fit-content;
    }
    .workname{
        margin-left: 5%;
        width: 90%;
        padding: 2% 1%  ;
        font-size: 120%;
    }
    .MyWork{
        height:80%;
        display:block;
        padding: 5%;
    }
    .int_text{
        width: 81%;
        height: 50%;
        bottom: 10%;
        position: fixed;
        font-size: larger;
    }
    .int_text i{margin-left:60%;}
    .int_img{
        width: 100%;
        height: 30%;
        margin-top: 0;
    }
    .nowShow{margin-bottom: 2%; height: 88%;}
    .allimage{display: none;}
     #d01{
    position: fixed;
    width: 30%;
    bottom: 0%;
    left: 1%;
    }
    #d02{
    width: 25%;
        top:2%;
    }

}
   